<div class="route-container col-sm-3">
	<div class="address-inputs">
		<input type="text" id="route-name" class="form-control" placeholder="Route Name">
		<div>
			<input type="text" id="from" class="controls form-control" placeholder="Origin" ng-model="inputFrom" ng-keypress="placesFrom($event)">
		</div>
		<div>
			<input type="text" id="to" class="form-control" placeholder="Destination" ng-keypress="placesTo($event)">
		</div>
	</div>
	<button id="create-route-button" class="btn btn-success" ng-click="SaveRoute()">Create Route</button>
	<!--<div>time: {{outputDiv}}</div>-->
</div>

<div class="individual-route-container col-sm-3" ng-repeat="route in routes | filter: {userId: userId}">
	<div ng-model="routes">
		<div id="{{route.userId}}">
			<button type="button" class="remove-button btn btn-deafult" ng-click="DeleteRoute(route)"><span class="glyphicon glyphicon-remove"></span></button>
			<h4>{{route.routeName}}</h4>
			<div class="output-origin">O - {{route.origin2}}</div>
			<div class="output-destination">D - {{route.destinationA}}</div>
			<button class="get-time-button" ng-click="GetTime(route.origin2, route.destinationA)">Get Time</button>
			<div id="{{currentRouteID}}">
				<div>time: {{route.timeDuration}}</div>
				<div>summary: {{route.routeSummary}}</div>
			</div>
			<div class="departure-time">
				<input type="text" class="timeInput {{$index}}" placeholder="00:00" maxlength="5" ng-model="stringValue">
				<button ng-click="DepartureTime($index, route.origin2, route.destinationA)">Save departure time</button>
			</div>
		</div>
	</div>
</div>



