<form id="about-block" class="col-sm-8">
	<h1>instaRoute</h1>
	<h3>A fast way to save your favorite routes <br> and check them on google maps</h3>
	<img src="../images/highway-photo-2.jpeg" width="1170">	
</form>

<div id="login-block" class="col-sm-4">
	<form class="form-signin">
		<button class="btn btn-block btn-social btn-facebook" ng-click="facebookLogin()">
    		<span class="fa fa-facebook"></span> Continue with Facebook
  		</button>
  	</form>
  	<div id="OR">----- or ------</div>
  	<form class="form-signin">
  		<input type="text" name="name" class="form-control input-signin" id="username" placeholder="User Name">
		<input type="email" name="email" class="form-control input-signin" id="email" placeholder="Enter Email Address">
		<input type="password" name="password" class="form-control input-signin" id="password" placeholder="Enter Password">
		<button type="button" class="btn-success form-control" id="sign-up" ng-click="SignUp()">Sign up</button>
		<button type="button" class="btn-deafult form-control" id="log-in" ng-click="Signin()">Log in</button>

		<div class="alert alert-danger ng-show" role="alert" ng-show="LogInErrorMessage">
			{{LogInErrorMessage}}
		</div>
		<div class="alert alert-danger ng-show" role="alert" ng-show="SignUpErrorMessage">
			{{SignUpErrorMessage}}
		</div>	
		
	</form>
</div>

