body{
	background-color: #E8E8E8;
	font-family: 'Montserrat', sans-serif;
}
/*Navigation bar*/
#navigation {
	background-color: white;
	display: block;
	height: 50px;
	box-shadow: 0 3px 5px gray;
}
#logout {
	color: #333333;
	text-decoration: none;
	margin: 25px 10px;
	float: right;
}
#logout:hover {
	color: gray;
}

.nav-hidden {
	visibility: hidden;
}
#nav-logo {
	float: left;
	font-family: 'Lobster', cursive;
	font-size: 2em;
	padding: 10px 10px;
}
/* Map Section */
/*html, body { height: 100%; margin: 0; padding: 0; }*/
.mapHidden {
	visibility: hidden;
}

#map-container {
	margin: 10px 20px 20px 20px;
	height: 280px;
	width: 1200px;
	border: 10px solid white;
	box-shadow: 0 2px 7px gray;
}

#map { height: 100%; }

input {
	width: 500px;
}



/* Log in/Sign up Section */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
h2 {
	text-align: center;
}
h3 {
	position: absolute;
	color: white;
	margin: 180px 100px;
}
h1 {
	font-family: 'Lobster', cursive;
	font-size: 4em;
	position: absolute;
	color: white;
	margin: 100px 100px;
}
.row-block {
	position: fixed;
	top: 0;
}
#about-block {
	height: 700px;
	padding: 0;
}
#login-block{
	background-color: white;
	height: 700px;
	margin: 0;
	padding: 0;
}
.btn-facebook{
	margin-top: 150px;
}
#OR{
	text-align: center;
	color: gray;
}
.input-signin {
	margin: 5px 0;
}
#sign-up {
	display: block;
	max-width: 330px;
	margin: 10px 0;
}
#log-in {
	max-width: 100px;
	margin: 10px 35%;
}



/*Routes in home*/
.route-container {
	background-color: white;
	width: 350px;
	height: 350px;
}

.address-inputs {
	padding-top: 20px;
}
#origin-title {
	display: inline;
	width: 150px;
	margin: 0 0 20px 0;
}
#destination-title {
	display: inline;
	width: 150px;
	margin: 0 0 20px 0;
}
#from {
	width: 320px;
	margin: 5px 0;
}
#to {
	width: 320px;
	margin: 5px 0;
}
#create-route-button {
	margin: 40px 65px;
	width: 190px;
	height: 40px;
	font-size: 16px;
}

.individual-route-container {
	background-color: white;
	width: 350px;
	height: 350px;
	padding: 0;
}

.col-sm-3 {
	margin: 15px 30px 15px 40px;
	box-shadow: 0 2px 7px gray;
	border-radius: 5px;
	color: #333333;
	font-family: 'Roboto', sans-serif;
}
.cardTitleBox {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.cardTitle { 
	text-align: center;
	margin: 0;
}

.fa-car {
	padding: 7px 10px;
	font-size: 18px;
}
.output-origin {
	margin: 0 10px;
}
.output-destination {
	margin: 0 10px;
}
.route-details {
	border-bottom: 1px solid black;
	border-top: 1px solid black;*/
	height: 35px;
}
.details-text {
	text-align: center;
	margin: 0;
	color: #008AE6;
}
.getBestRoute-text {
	display: inline;
	padding: 0 20px;
	margin-top: 25px;
	font-size: 18px;
}
.get-route-button {
	width: 100px;
	height: 60px;
	margin: 10px 10px 0 10px;
}
.summary {
	display: inline;
	padding: 0 5px;
}
.timeDuration {
	display: inline;
	padding: 0 5px;
}

.or-text {
	text-align: center;
	margin: 0;
}
.departure-time {
	margin-top: 10px;
}
.departuretime-description{
	display: inline;
	padding: 0 55px;
	font-size: 16px;
}
.timeInput {
	width: 60px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	border-radius: 3px;
	font-size: 20px;
	margin: 0 5px;
}
.save-departuretime-button {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
	padding: 0;
}
.fa-clock-o {
	font-size: 20px;
}
.remove-button {
	margin-top: 5px;
	margin-left: 91%;
	width: 30px;
	height: 25px;
	padding: 0 6.5px;
	background-color: white;
}
.glyphicon-remove{
	width: 1px;
	height: 1px;
	margin-right: 50px;
}

