body{
	background-color: #E8E8E8;
}
/*Navigation bar*/
#navigation {
	background-color: gray;
	display: block;
	height: 40px;
}
#logout {
	color: white;
}

.nav-hidden {
	visibility: hidden;
}
/* Map Section */
/*html, body { height: 100%; margin: 0; padding: 0; }*/
.mapHidden {
	visibility: hidden;
}

#map-container {
	margin: 10px 20%;
	height: 250px;
	width: 600px;
}

#map { height: 100%; }

input {
	width: 500px;
}



/* Log in/Sign up Section */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
h2 {
	text-align: center;
}
.row-block {
	position: relative;
	top: -300px;
}
#about-block {
	height: 700px;
	padding: 0;
}
#login-block{
	background-color: white;
	height: 700px;
	margin: 0;
	padding: 0;
}
.btn-facebook{
	margin-top: 100px;
}
#OR{
	text-align: center;
	color: gray;
}
.input-signin {
	margin: 5px 0;
}
#sign-up {
	display: block;
	max-width: 330px;
	margin: 10px 0;
}
#log-in {
	max-width: 100px;
	margin: 10px 30%;
}



/*Routes in home*/
.route-container {
	background-color: white;
	width: 350px;
	height: 300px;
}

.address-inputs {
	padding-top: 10px;
}
#route-name {
	width: 300px;
}
#from {
	width: 300px;
}
#to {
	width: 300px;
}
#save-route-button {
	margin: 30px 35%;
	width: 150px;
}

.individual-route-container {
	background-color: white;
	width: 350px;
	height: 300px;
}

.col-sm-3 {
	margin: 15px 15px;
}

.timeInput {
	width: 100px;
}
.remove-button {
	margin-top: 5px;
	margin-left: 95%;
	border-radius: 40px;
}
