/* Map Section */
/*html, body { height: 100%; margin: 0; padding: 0; }*/
#map-container {
	height: 300px;
	width: 300px;
}
#map { height: 100%; }

#calculation {
	width: 100px;
	height: 50px;
}
input {
	width: 500px;
}
#calculate-button {
	display: inline-block;
}

/* Sign in Section */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
h2 {
	text-align: center;
}