body{
	background-color: #E8E8E8;
	font-family: 'Montserrat', sans-serif;
}
/*Navigation bar*/
#navigation {
	background-color: white;
	display: block;
	height: 50px;
	box-shadow: 0 3px 5px gray;
}
#logout {
	color: #333333;
	text-decoration: none;
	margin: 25px 10px;
	float: right;
}
#logout:hover {
	color: gray;
}

.nav-hidden {
	visibility: hidden;
}
#nav-logo {
	float: left;
	font-family: 'Lobster', cursive;
	font-size: 2em;
	padding: 10px 10px;
}
/* Map Section */
/*html, body { height: 100%; margin: 0; padding: 0; }*/
.mapHidden {
	visibility: hidden;
}

#map-container {
	margin: 20px 20px;
	height: 280px;
	width: 1200px;
	border: 10px solid white;
	box-shadow: 0 2px 7px gray;
}

#map { height: 100%; }

input {
	width: 500px;
}



/* Log in/Sign up Section */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
h2 {
	text-align: center;
}
h3 {
	position: absolute;
	color: white;
	margin: 180px 100px;
}
h1 {
	font-family: 'Lobster', cursive;
	font-size: 4em;
	position: absolute;
	color: white;
	margin: 100px 100px;
}
.row-block {
	position: fixed;
	top: 0;
}
#about-block {
	height: 700px;
	padding: 0;
}
#login-block{
	background-color: white;
	height: 700px;
	margin: 0;
	padding: 0;
}
.btn-facebook{
	margin-top: 150px;
}
#OR{
	text-align: center;
	color: gray;
}
.input-signin {
	margin: 5px 0;
}
#sign-up {
	display: block;
	max-width: 330px;
	margin: 10px 0;
}
#log-in {
	max-width: 100px;
	margin: 10px 35%;
}



/*Routes in home*/
h4 {
	margin-top: 0;
}
.route-container {
	background-color: white;
	width: 350px;
	height: 300px;
}

.address-inputs {
	padding-top: 20px;
}
#route-name {
	width: 320px;
	margin: 15px 0;
}
#from {
	width: 320px;
	margin: 5px 0;
}
#to {
	width: 320px;
	margin: 5px 0;
}
#create-route-button {
	margin: 40px 85px;
	width: 150px;
}

.individual-route-container {
	background-color: white;
	width: 350px;
	height: 300px;
}

.col-sm-3 {
	margin: 15px 30px 15px 40px;
	box-shadow: 0 2px 7px gray;
	border-radius: 5px;
	color: #333333;
}

.timeInput {
	width: 100px;
}
.remove-button {
	margin-top: 5px;
	margin-left: 94%;
	width: 30px;
	height: 25px;
	padding: 0 6.5px;
	background-color: white;
}
.glyphicon-remove{
	width: 1px;
	height: 1px;
	margin-right: 50px;
}
